<!DOCTYPE html>
<html lang="en">
<head>
    <script>


    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="static\web2.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body id="textstyle">
    <h2>Welcome</h2> 
    <h3>
        NAME:{{Name}}
    </h3>
    <h3>
        UID:{{Eid}}
    </h3>
    <h3>
        COMPANY NAME:{{Cname}}
    </h3>
    <h3>
        COMPANY EMAIL:{{Eml}}
    </h3>

 <!--  <script>
        document.getElementById("result-name").innerHTML=localStorage.getItem("textvalue1");
        document.getElementById("result-uid").innerHTML=localStorage.getItem("textvalue2");
        document.getElementById("result-cname").innerHTML=localStorage.getItem("textvalue3");
        document.getElementById("result-cmail").innerHTML=localStorage.getItem("textvalue4");
   </script>
   -->
</body>
</html>